* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9faff;
    color: #333;
}

.container1 {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Common */
.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
.header {
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo img {

    height: 55px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.menu-btn {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links a:hover {
    color: #0e56f1;
}

/*  Hero */
.hero {
    background-image: url("week-1 Images/section.jpg");
    background-size: cover;

    background-position: center;

    color: #fff;
    padding: 80px 0;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.btn {

    display: inline-block;
    padding: 12px 25px;
    background: #0e55ee;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-size: 17px;
}

/* Services */
.services {
    padding: 60px 0;
    text-align: center;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.service-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #d7d7f6;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 10px;
    color: black;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

/* Footer */
.footer {
    background: #f1f5f9;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: black;
}

@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #fff;
        flex-direction: column;
        width: 200px;
        gap: 15px;
        padding: 20px;
        display: none;
        z-index: 9999;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .nav-links.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }
}